<div>
  <div class="list-banner">
    <h2><%= @list.name %>(<%= @list.bookmarks.count %> films)</h2>
    <%= link_to "Ajouter un film",  new_list_bookmark_path(@list), class: "btn btn-success"  %>
  </div>
  <div class="bookmarks-grid container">
    <% if @list.bookmarks.present? %>
      <% @list.bookmarks.each do |bookmark| %>
        <div class="bookmark-card">
          <%= image_tag bookmark.movie.poster_url, alt: "movie picture" %>
          <div class="bookmark-title-rating">
            <h3><%= bookmark.movie.title %></h3>
            <p><%= bookmark.movie.rating %> <i class="fas fa-star"></i></p>
          </div>
          <div class="bookmark-overview">
            <p><%= bookmark.movie.overview %></p>
          </div>
          <div class="bookmark-comment-delete">
            <p><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), method: :delete, class: "bookmark-delete"  %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="reviews-container container">
      <div class="reviews-list">
        <h3 class="my-2">Reviews:</h3>
        <% if @list.reviews.present? %>
          <% @list.reviews.each do |review| %>
            <div class="review-card">
              <p>
                <b>
                <% review.rating.to_i.times do  %>
                  <i class="fas fa-star" style="color:#FDDF33"></i>
                <% end %>
                <% (5 - review.rating.to_i).times do  %>
                  <i class="far fa-star" style="color:#FDDF33"></i>
                <% end %>
                </b>
                <i style="color:grey">le:<%= review.created_at.strftime("%d/%m/%Y") %></i>
              </p>
              <p><span class="review-content"> <%= review.content %> </span></p>
            </div>
          <% end %>
        <% else %>
          <p>Soit le premier à laisser une review !!</p>
        <% end %>
      </div>
      <div class="review-new">
        <h3>Ajouter une review:</h3>
        <%= simple_form_for([@list, @review]) do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit 'Submit', class: ' btn btn-primary my-2' %>
        <% end %>
      </div>
    </div>

    <% else %>
      <div class="container text-center">
        <p> Bah alors c'est bien vide cette liste</p>
      </div>
    <% end %>
</div>
